.event {
  position: absolute;
  background: var(--mantine-primary-color-4);
  opacity: 0.8;
  color: white;
  padding: 2px 5px;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: left;
  overflow: hidden;
  width: 100%;
}

.event-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
